// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
}

// Scroll behaviour
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
  // overflow: hidden;
}

