// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
}

// Scroll behaviour
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

// media queries
/*
@media (min-width)

@media screen and (max-width: 550px) {
    section {
       grid-template-columns: 1fr; //all divs will stack, one on top of each other once the screen size is reduced to 550px or less
    }
}
*/
