// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-body;
}

// Scroll behaviour
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;

  @media screen and (min-width: 576px) {
    overflow-x: hidden !important;
  }

  @media screen and (min-width: 768px) {
    overflow-x: hidden !important;
  }

  @media screen and (min-width: 888px) {
    overflow-x: hidden !important;
  }
}
