/*import partials*/
/*font-regular*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
/*font-script*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Source+Serif+Pro:ital,wght@0,200;1,200&display=swap");
a:link,
a:visited {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden !important;
}

.section-wrapper-header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #415e6c 1.65%, #87b0b9 100%);
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 25px;
  }
}
.header__logo-top {
  width: 65px;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .header__logo-top {
    width: 75px;
  }
}
.header__logo-top:hover {
  transform: rotate(180deg);
}

nav ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  display: flex;
  letter-spacing: 0.1em;
}

nav li {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em;
}
@media screen and (min-width: 768px) {
  nav li {
    padding: 0.75em 1.5em;
  }
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  nav a {
    font-size: 14px;
  }
}

nav a:hover {
  opacity: 0.25;
  transition: 0.2s ease-in;
  color: #191919;
}

.hero__container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16vh 7vh 10vh;
}
.hero__logo-hero {
  height: 36vh;
}
.hero__logo-hero:hover {
  transform: rotate(180deg);
  transition: ease-in-out;
}
.hero__hero-header {
  font-family: "Source Serif Pro", serif;
  font-size: 16px;
  letter-spacing: 0.1em;
  font-weight: 10;
  text-transform: lowercase;
  font-style: italic;
  color: #f5f5f5;
  position: absolute;
  top: 80%;
}
@media screen and (min-width: 450px) {
  .hero__hero-header {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  .hero__hero-header {
    font-size: 20px;
  }
}
.hero__icon {
  border: solid #f5f5f5;
  border-width: 0 1.5px 1.5px 0;
  display: inline-block;
  position: absolute;
  top: 92%;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.hero__icon:hover {
  opacity: 0.25;
  transition: 0.2s ease-in;
  color: #191919;
}

.main-content {
  width: 100%;
  background: #f5f5f5;
}

.intro {
  display: flex;
  padding: 25px 25px;
  grid-gap: 25px;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 auto;
  max-width: 95%;
}
@media screen and (min-width: 768px) {
  .intro {
    flex-direction: column;
    max-width: 85%;
    padding: 50px 50px;
    grid-gap: 50px;
  }
}
.intro__h1 {
  color: #191919;
  font-family: "Source Serif Pro", serif;
  font-weight: 400;
  font-size: 2.25rem;
  font-style: italic;
  text-transform: none;
  margin: 0px auto;
  padding: 0px;
}
.intro__strong {
  font-weight: bold;
  font-family: "Source Serif Pro", serif;
  font-size: 2.25rem;
}
.intro__p {
  color: #191919;
  font-size: 0.85rem;
  text-align: center;
  margin: 0px auto;
  line-height: 1.75;
  min-width: 50%;
}
@media screen and (min-width: 768px) {
  .intro__p {
    font-size: 1rem;
  }
}
.intro__img {
  width: 20vh;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .intro__img {
    width: 22vh;
  }
}
.intro__line {
  height: 2px;
  width: 75%;
  background: rgba(135, 176, 185, 0.5);
  margin: 0 auto;
}
.intro__cv {
  text-decoration: none;
  color: #191919;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}
.intro__cv:visited {
  text-decoration: none;
}
.intro__cv:hover {
  box-shadow: inset 0 -6px 0 rgba(135, 176, 185, 0.5);
}

h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  color: #191919;
  margin: 60px 20px 60px 60px;
}
@media screen and (min-width: 576px) {
  h2 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 6rem;
  }
}

.logo-bkgrnd-fade {
  height: 924px;
  position: absolute;
  top: 200%;
  right: -3%;
  opacity: 0.1;
  z-index: 0;
}
@media screen and (min-width: 992px) {
  .logo-bkgrnd-fade {
    height: 1200px;
  }
}

.col {
  width: 275px;
  background-color: rgba(135, 176, 185, 0.1);
  padding: 1em;
}

.content-skills {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  gap: 1em;
  flex-direction: column;
  align-content: center;
  padding-bottom: 20vh;
}
@media screen and (min-width: 610px) {
  .content-skills {
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 769px) {
  .content-skills {
    flex-direction: row;
    width: auto;
  }
}
.content-skills__number {
  font-size: 2.25rem;
  font-weight: 400;
  font-style: normal;
  color: #191919;
  text-align: left;
}
.content-skills__header {
  font-family: "Source Serif Pro", serif;
  font-size: 2.25rem;
  font-weight: 400;
  font-style: italic;
}
.content-skills__description {
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
  line-height: 1.75;
}
.content-skills__list {
  list-style-type: none;
  background-color: #f5f5f5;
  text-align: center;
  list-style-type: none;
  margin-right: 10px;
  padding: 7px 15px;
  margin-top: 10px;
  width: 100%;
}

.content-projects {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
  gap: 2em 1em;
  z-index: 15;
  padding-bottom: 10vh;
}
@media screen and (min-width: 768px) {
  .content-projects {
    width: 80%;
    gap: 4em 1em;
  }
}
@media screen and (min-width: 992px) {
  .content-projects {
    gap: 8em 1em;
    width: 85%;
  }
}
.content-projects__figure {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  position: relative;
  margin-bottom: 10px;
}
@media screen and (min-width: 576px) {
  .content-projects__figure {
    height: 35vh;
  }
}
@media screen and (min-width: 768px) {
  .content-projects__figure {
    height: 40vh;
  }
}
@media screen and (min-width: 992px) {
  .content-projects__figure {
    height: 55vh;
  }
}
.content-projects__overlay {
  position: absolute;
  /* Position the background text */
  color: transparent;
  width: 100%;
  /* Full width */
  padding: 10px;
  /* Some padding */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
  font-weight: bolder;
}
@media screen and (min-width: 768px) {
  .content-projects__overlay {
    padding: 20px;
  }
}
.content-projects__overlay:hover {
  background: rgba(255, 255, 255, 0.75);
  color: #191919;
}
.content-projects__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.content-projects__flex {
  display: flex;
  width: 100%;
}
.content-projects__caption {
  font-size: 0.85rem;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 60px;
  padding-top: 10px;
  z-index: 15;
}
@media screen and (min-width: 576px) {
  .content-projects__caption {
    font-size: 0.935rem;
  }
}
@media screen and (min-width: 768px) {
  .content-projects__caption {
    padding-bottom: 0px;
    font-size: 0.9775rem;
  }
}
.content-projects__col {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .content-projects__col {
    margin: 1em;
  }
}
.content-projects h4 {
  color: #191919;
  font-size: 18px;
  font-style: italic;
  z-index: 15;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .content-projects h4 {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .content-projects h4 {
    padding-bottom: 0.25em;
    font-size: 22px;
  }
}
.content-projects h4:hover {
  box-shadow: inset 0 -6px 0 rgba(135, 176, 185, 0.5);
  width: 100%;
  z-index: 15;
}
.content-projects__list {
  font-size: 0.85rem;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.content-projects__badge {
  background-color: rgba(135, 176, 185, 0.5);
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  list-style-type: none;
  margin-right: 10px;
  padding: 5px 15px;
  margin-top: 8px;
}
.content-projects__links-wrapper {
  display: flex;
}
.content-projects__links {
  margin-right: 10px;
  padding: 5px 15px;
  margin-top: 8px;
  border: 3px solid rgba(135, 176, 185, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: bold;
  color: #191919;
}
.content-projects__links:link {
  text-decoration: none;
}
.content-projects__links:visited {
  text-decoration: none;
}
.content-projects__links:hover {
  border: 3px solid #f5f5f5;
  background-color: rgba(135, 176, 185, 0.5);
  color: #f5f5f5;
  font-weight: bolder;
}
.content-projects h3 {
  font-size: 20px;
  font-weight: 300;
}
@media screen and (min-width: 576px) {
  .content-projects h3 {
    font-size: 22px;
  }
}

/*figure project 1*/
.content-projects > *:nth-child(1) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(1) {
    flex: 1 1 55%;
  }
}

/*col box 1*/
.content-projects > *:nth-child(2) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(2) {
    flex: 1 1 37%;
  }
}

/*col box 2*/
.content-projects > *:nth-child(3) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(3) {
    flex: 1 1 25%;
  }
}

/*figure project 2*/
.content-projects > *:nth-child(4) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(4) {
    flex: 1 1 65%;
  }
}

/*figure project 3*/
.content-projects > *:nth-child(5) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(5) {
    flex: 1 1 65%;
  }
}

/*col box 3*/
.content-projects > *:nth-child(6) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(6) {
    flex: 1 1 25%;
  }
}

/*col box 4*/
.content-projects > *:nth-child(7) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(7) {
    flex: 1 1 25%;
  }
}

/*figure project 4*/
.content-projects > *:nth-child(8) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(8) {
    flex: 1 1 65%;
  }
}

/*figure project 5*/
.content-projects > *:nth-child(9) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(9) {
    flex: 1 1 65%;
  }
}

/*col box 5*/
.content-projects > *:nth-child(10) {
  flex: 1 1 100%;
}
@media screen and (min-width: 769px) {
  .content-projects > *:nth-child(10) {
    flex: 1 1 25%;
  }
}

.content-projects :nth-child(1) {
  order: 1;
}

.content-projects :nth-child(2) {
  order: 2;
}

.content-projects :nth-child(3) {
  order: 4;
}

.content-projects :nth-child(4) {
  order: 3;
}

.content-projects :nth-child(5) {
  order: 5;
}

.content-projects :nth-child(6) {
  order: 6;
}

.content-projects :nth-child(7) {
  order: 8;
}

.content-projects :nth-child(8) {
  order: 7;
}

.content-projects :nth-child(9) {
  order: 9;
}

.content-projects :nth-child(10) {
  order: 10;
}

@media screen and (min-width: 769px) {
  .content-projects :nth-child(1) {
    order: 1;
  }

  .content-projects :nth-child(2) {
    order: 2;
  }

  .content-projects :nth-child(3) {
    order: 3;
  }

  .content-projects :nth-child(4) {
    order: 4;
  }

  .content-projects :nth-child(5) {
    order: 5;
  }

  .content-projects :nth-child(6) {
    order: 6;
  }

  .content-projects :nth-child(7) {
    order: 7;
  }

  .content-projects :nth-child(8) {
    order: 8;
  }

  .content-projects :nth-child(9) {
    order: 9;
  }

  .content-projects :nth-child(10) {
    order: 10;
  }
}
.section-footer {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #415e6c 1.65%, #87b0b9 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 36px;
}
.section-footer__social-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  height: 31vh;
  font-size: 20px;
}
.section-footer__socials {
  text-decoration: none;
  padding: 0px 40px;
  color: #f5f5f5;
}
.section-footer__socials:hover {
  color: #191919;
  transition: 0.4s ease;
  opacity: 0.25;
}
.section-footer__line {
  height: 1px;
  background: #f5f5f5;
  opacity: 0.7;
  width: 20%;
}
.section-footer__h6 {
  font-size: 10px;
  color: #f5f5f5;
  text-align: center;
  background-color: transparent;
}
.section-footer__h5 {
  font-family: "Source Serif Pro", serif;
  font-size: 23px;
  font-style: italic;
  font-weight: 300;
  color: #f5f5f5;
  letter-spacing: 0.05em;
}

.section-footer__logo-footer {
  height: 11vh;
  position: relative;
}
.section-footer__logo-footer:hover {
  transform: rotate(180deg);
}
.section-footer__button-up {
  height: 45px;
  width: 45px;
  background-color: transparent;
  border: solid #f5f5f5;
  border-width: 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-footer__button-up:hover {
  opacity: 0.25;
  color: #191919;
  transition: 0.2s ease-in;
}
.section-footer__arrow {
  border: solid #f5f5f5;
  border-width: 0 1px 1px 0;
  padding: 5px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  display: inline-block;
}
.section-footer__line {
  height: 1px;
  background: #f5f5f5;
}